
* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 700px;
  height: 400px;
  margin: 50px auto;
  position: relative;
}

.pic-item {
  list-style: none;
  position: absolute;
}
.pic-active{
  z-index: 100;
}
.pic-item>img {
  width: 700px;
  height: 400px;
}

.btn {
  width: 30px;
  height: 100px;
  background: rgba(0, 0, 0, .3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
  color: white;
  font-size: 20px;
  line-height: 100px;
  text-align: center;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.small-btn-list {
  left: 170px;
  bottom: 10px;
  position: absolute;
  z-index: 100;
}

.small-btn {
  bottom: 0;
  list-style: none;
  float: left;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, .6);
  margin-left: 50px;
  cursor: pointer;
  border-radius: 15px;
}
.small-btn-active{
  background: red;
}
